*::selection {
    color: #fff;
    background-color: rgba(50,58,150,0.7);
}

input, textarea, button {
    font-family: inherit
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #171a1d;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #fff;
}
::-webkit-scrollbar-track {
    border-radius: 12px;
    background-color: #171a1d;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    color: #fff;
    box-sizing: border-box;
    background-color: #23232d;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2em;
    color: #fff;
}

p {
    color: rgba(255, 255, 255, 0.6);
    line-height: 33px;
    text-align: center;
}
