*::selection {
    color: #fff;
    background-color: rgba(50,58,150,0.7);
}

input, textarea, button {
    font-family: inherit
}

html {
    height: 100%;
    font-size: 62.5%;
}

@media only screen and (max-width: 62.5em) {
html {
    font-size: 55.5%;
}
}

body > #root > main {
    min-height: 100vh;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    background-color: #23232d;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2em;
    color: #fff;
}

p {
    color: rgba(255, 255, 255, 0.6);
    line-height: 35px;
    text-align: center;
}