html {
    height: 100vh;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
    min-height: 100vh;
}

body {
    font-family: 'Overpass Mono', monospace;
    color: #b0adad;
    background: #37373e;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    line-height: 1.4em;
    color: #edecf2;
}

p {
    color: #b0adad;
    text-align: center;
    font-size: 0.85em;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #171a1d;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #b0adad;
}
::-webkit-scrollbar-track {
    border-radius: 12px;
    background-color: #171a1d;
}