.unknown h1 {
  font-size: 45px;
  padding-left: 19px;
}

.unknown {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
	transform: translate(-50%,-50%);
  max-width: 500px;
  margin: 2.5rem auto;
  margin-bottom: 8rem;
}

.unknown a {
  text-decoration: none;
  line-height: 35px;
  color: #fff;
}

.unknown a:hover, li:hover {
  color: #7289da;
}

