.unknown h1 {
  padding-left: 19px;
}

.unknown {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
	transform: translate(-50%,-50%);
  max-width: 500px;
}

.unknown a {
  text-decoration: none;
  color: #fff;
}

.unknown a:hover, li:hover {
  color: #7289da;
}

