.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 85vh;
	align-items: center;
	justify-content: center;
}

.wrapper h1 {
	display: block;
	opacity: 0;
	animation: fade .01s ease-out 1.75s forwards;
}

.wrapper h3 {
	display: block;
	opacity: 0;
	animation: fade .01s ease-out 2.45s forwards;
}

.wrapper p {
	margin: 0 auto;
	width: 80%;
	margin-top: 1rem;
	margin-bottom: 0.8rem;
	opacity: 0;
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}

.swipe {
	position: relative;
	width: fit-content;
	margin: 0 auto;
}

.swipe::after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 100%;
	width: 0;
	height: 100%;
	background: #ff5858;
	animation: swipe 1.5s ease-out 1s forwards;
}
.swipe--delay::after {
	background-color: #fff;
	animation-delay: 1.8s;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes swipe {
	0% {
		right: 100%;
		left: 0;
		width: 0%;
	}
	50% {
		right: 0;
		left: 0;
		width: 100%;
	}
	100% {
		right: 0;
		left: 100%;
		width: 0;
	}
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.wrapper button {
	padding: 0px 1.6rem;
	font-size: 16px;
	font-weight: 600;
	background-color: #323a96;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	margin-top: 1rem;
	margin-bottom: 1rem;
	opacity: 0;
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-delay: 4s;
}

.wrapper button:hover {
	background-color: #2c3383;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* @media only screen and (min-device-width : 490px) and (max-device-width : 1200px) {
    .contact {
        max-width: 70%;
    }
} */

/* @media only screen and (min-device-width : 320px) and (max-device-width : 912px) {
	.wrapper {
		padding: 2px 2px 2px 2px;
	}
	.wrapper h1 {
	font-size: 2.3rem;
	}
	.wrapper h3 {
		font-size: 1.4rem;
	}
	.wrapper p {
		font-size: 1rem;
	}
		.wrapper button {
		font-size: 1rem;
		height: 4rem;
		padding: 0px 1.2rem;
	}
} */
/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.wrapper h1 {
		font-size: 2.2rem;
		line-height: 2rem;
		margin-bottom: 0rem;
	}
	.wrapper h3 {
		margin-top: 0;
		padding: 0 ;
		font-size: 1.4rem;
	}
	.wrapper p {
		font-size: 1.2rem;
		line-height: 2.5rem;
	}
	.wrapper button {
		font-size: 1.4rem;
		height: 3rem;
		padding: 0 1rem;
		line-height: 0.2rem;
		letter-spacing: 0.2rem;
	}
}

@media only screen and (min-device-width : 481px) and (max-device-width : 1023px) {
	.wrapper h1 {
		font-size: 2.2rem;
		line-height: 2rem;
	}
	.wrapper h3 {
		margin-top: 0;
		padding: 0 ;
		font-size: 1.4rem;
	}
	.wrapper p {
		font-size: 1.2rem;
		line-height: 2.5rem;
	}
	.wrapper button {
		font-size: 1.4rem;
		height: 3rem;
		padding: 0 1rem;
		line-height: 0.2rem;
		letter-spacing: 0.2rem;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.wrapper h1 {
		font-size: 4rem;
	}
	.wrapper h3 {
		font-size: 3rem;
	}
	.wrapper p {
		font-size: 1.9rem;
		line-height: 2.6rem;
		width: 80%;
	}
	.wrapper button {
		font-size: 1.9rem;
		height: 3.9rem;
		padding: 0 2rem;
		letter-spacing: 0.2rem;
	}
} */