.mobile-menu.shown {
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;

  a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    &:not(:last-child) {
      color: $blue;
      padding: 10px 0px;

      &:hover {
        color: $red;
      }
    }
    &:nth-last-of-type(2) {
      margin-bottom: 10px;
    }
  }
}
