#contact {
  background-color: $blue;
  color: $white-tone;

  div {
    &:nth-of-type(3) {
      padding: 1.5rem 0;
    }

    &:nth-of-type(2) {
      display: flex;
      justify-content: center;
    }
    &:nth-child(4) {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 2;

      @include breakpoint-sm {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    a {
      color: $white-tone;

      &:hover {
        color: $yellow;
      }
    }
  }
}
