.contact {
    max-width: 50%;
    margin: 0 auto;
}

.contact a {
    color: #fff;
    text-decoration: none;
}

.contact i {
    font-size: 45px;
}

.contact a:hover {
    color: #ff3d53;
}

.redCharacter {
	color: #ff3d53;
}

