.contact {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.contact label {
    text-align: left;
    display: block;
    color: rgba(255, 255, 255, 0.6);
    line-height: 25px;
}

.contact h1 {
    font-size: 45px;
    margin-bottom: 30px;
}

.contact input {
    width: 100%;
    height: 36px;
    border-radius: 5px;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.contact textarea {
    width: 100%;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    height: 80px;
}

.contact button {
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.contact button {
    padding: 0px 1.8rem;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    color: #fff;
    background-color: #323a96;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #2c3383;
}

.contact a {
    color: #fff;
    text-decoration: none;
}

.contact a:hover {
    color: #7289da;
}

.social-container {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}