.grid img {
  border-radius: 40px;
  width:300px;
}

.grid {
  padding: 16px;
  display: grid;
  grid-gap: 16px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.col {
  margin-bottom: 16px;
  background-color: pink;
  text-align: center;
} 